<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- D3 V5 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>window.d3v5 = window.d3;</script>

    <!-- D3 V3 -->
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script>window.d3v3 = window.d3;</script>

    <!-- TnT Tree -->
    <link rel="stylesheet" href="http://tntvis.github.io/tnt.tree/build/tnt.tree.css" type="text/css" />
    <script src="http://tntvis.github.io/tnt.tree/build/tnt.tree.min.js" charset="utf-8"></script>

    <!-- TnT Tooltips -->
    <link rel="stylesheet" href="https://tntvis.github.io/tnt.tooltip/build/tnt.tooltip.css" type="text/css"/>
    <!--
         <script src="https://tntvis.github.io/tnt.tooltip/build/tnt.tooltip.min.js"></script>
    -->
    <script src="https://raw.githack.com/Marlin-Na/TnT/master/inst/htmlwidgets/lib/tnt.tooltip/tnt.tooltip.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="css/main.css" type="text/css">

    <!-- JavaScript -->
    <script src="js/treevis.js"></script>
</head>

<body>
    <nav id="global-navbar" class="navbar fixed-top navbar-expand navbar-dark bg-dark">
        <a href="#" class="navbar-brand">AncestralSNP</a>
        <ul class="navbar-nav">
            <li class="nav-item text-light">Help</li>
        </ul>
    </nav>

    <main>
        <div id="controlpanel">
            <h4>Find SNP by position or rsid</h4>
            <form method="get">
                <div class="form-group">
                    <label for="chromosomeinput">Chromosome</label>
                    <select class="form-control" id="chromosomeinput" name="chromosome">
                        <option>chr8</option>
                    </select>

                </div>
                <div class="form-group">
                    <label for="positioninput">Position (hg38)</label>
                    <input class="form-control" type="number" id="positioninput" name="position" min="1" required>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div id="vispanel">
            <div id="tree-container">
            </div>
        </div>
    </main>


    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
     async function main() {
         const chromosome = {{ chromosome | tojson }};
         const position = {{ position | tojson }};
         if (chromosome === null || position === null) {
             return;
         }
         const treevis = new TreeVis("#tree-container");
         treevis.set_snp(chromosome, position);
         await treevis.load();
     }
     main();
    </script>
</body>
</html>
